*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/java/.gitignore
/app/.gitignore
/.idea/.gitignore
/kotflinflows/.gitignore
/launchmodes/.gitignore
/listviewvsrecyclerview/.gitignore
/composetour/.gitignore
/.idea/.name
.idea
/app/src/androidTest/java/com/harisewak/interview/ExampleInstrumentedTest.kt
/composetour/src/androidTest/java/com/harisewak/composetour/ExampleInstrumentedTest.kt
/kotflinflows/src/androidTest/java/com/harisewak/kotflinflows/ExampleInstrumentedTest.kt
/launchmodes/src/androidTest/java/com/harisewak/launchmodes/ExampleInstrumentedTest.kt
/listviewvsrecyclerview/src/androidTest/java/com/harisewak/listviewvsrecyclerview/ExampleInstrumentedTest.kt
/app/src/test/java/com/harisewak/interview/ExampleUnitTest.kt
/composetour/src/test/java/com/harisewak/composetour/ExampleUnitTest.kt
/kotflinflows/src/test/java/com/harisewak/kotflinflows/ExampleUnitTest.kt
/launchmodes/src/test/java/com/harisewak/launchmodes/ExampleUnitTest.kt
/listviewvsrecyclerview/src/test/java/com/harisewak/listviewvsrecyclerview/ExampleUnitTest.kt
